.about h1 { 
    font-size: 2.5rem;
     color: #333333; 
     margin-bottom: 20px; 
     text-align: center; 
     margin: auto ;
     margin-top: 50px;
     padding: 100px auto;
     }

 .about p { 
    font-size: 1.1rem; 
    color: #424242; 
    line-height: 1.6; 
    text-align: justify; 
    padding: 25px 100px;
    background-color: rgb(189, 187, 187);
    border-radius: 2px;
    
    }